aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorful==0.5.4
flake8==3.8.3
idna==2.10
jikanpy==4.2.2
mccabe==0.6.1
multidict==4.7.6
mypy==0.782
mypy-extensions==0.4.3
prettyprinter==0.18.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.1
requests==2.24.0
simplejson==3.17.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
yarl==1.6.0
